body{
    height: 100vh;
    width:  100vw;
    --color1 : #35155D;
    --color2 : #512B81  ;
    --color3 : #C70039;
    --color4 : #F0F0F0;
    --fontcolor1 : #f0f0f0fd;
    background-color: var(--color2)

    
}

#content{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color : var(--fontcolor1)

}
header h1{
    font-size: 4em;
    margin-bottom: 1px;
}

header p{
    font-size: 2em;
}

#types{
    display: flex;
    align-items: center;
    justify-content: center;
}

#types ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

#types ul li{
    background-color:  var(--color3);
    display: flex;
    min-width: 20rem;
    min-height: 10rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out ;
    border-radius: 8px;
    color : var(--fontcolor1)
}

#types ul li:hover{
    background-color: rgb(209, 63, 95);
    
}

#projects_content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

#projects_list{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}

.project_container{
    margin-top: 4rem;
    width: 90%;
    min-height: 10rem;
    background-color: var(--color4);
    border-radius: 10px;
}


.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

#presentation-header{
    text-align: center;
}

#presentation-header h1{
    font-size: 3rem;
}

#presentation-header p{
    font-size: 2rem;

}

a{

}